:root {
    --bg-color: #ffa500;
    --main-color: black;
    --main-color-transparent: rgba(255, 166, 0, 0.459);
    --header-font-family: 'Nosifer';
  }

  h1 {
    font-family: 'Nosifer';
    font-size: 4em;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--main-color);
    text-align: center;
  }
  
  #movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .movie-card {
    border: 7px solid var(--main-color);
    border-radius: 7em;
    max-width: 350px;
    padding: auto;
    padding-bottom:10px;
    font-family: Verdana, sans-serif;
    word-wrap: break-word;
  }
  
  .movie-card img {
    padding-top: 10px;
    width: 350px;
    height: 250px;
    object-fit: scale-down;
    cursor: pointer;
  }
  
  .movie-card .title {
    font-size: 1.25em;
    font-family: var(--header-font-family);
    color: #bb0a1e;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .show img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  /* https://www.w3schools.com/howto/howto_css_modals.asp */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--main-color-transparent); /* Fallback color */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: black;
    color: orange;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid black;
    border-radius: 1em;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  #add-review {
    border-radius: 20%;
    height: 40px;
    margin-bottom: 10px;
  }

  
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  